################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
.vs/
/Система учёта и приобретения инструмента/App.config
/Система учёта и приобретения инструмента/.vs/Система учёта и приобретения инструмента/v17/.suo
/Система учёта и приобретения инструмента/.vs/Система учёта и приобретения инструмента/v17/DocumentLayout.json
