USE [master]
GO
/****** Object:  Database [TOOLACCOUNTING]    Script Date: 04.06.2025 20:35:43 ******/
CREATE DATABASE [TOOLACCOUNTING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOOLACCOUNTING', FILENAME = N'E:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\TOOLACCOUNTING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TOOLACCOUNTING_log', FILENAME = N'E:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\TOOLACCOUNTING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOOLACCOUNTING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOOLACCOUNTING]
GO
/****** Object:  Table [dbo].[AnalogTools]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalogTools](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OriginalNomenclatureNumber] [char](9) NOT NULL,
	[AnalogNomenclatureNumber] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Balances]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balances](
	[BalanceID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureNumber] [char](9) NOT NULL,
	[StorageID] [int] NOT NULL,
	[BalanceDate] [date] NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BalanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefectiveLists]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefectiveLists](
	[DefectiveListID] [int] IDENTITY(1,1) NOT NULL,
	[DefectiveListDate] [date] NOT NULL,
	[NomenclatureNumber] [char](9) NOT NULL,
	[WorkshopID] [int] NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsWriteOff] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DefectiveListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryLists]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryLists](
	[DeliveryListID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryListDate] [date] NOT NULL,
	[SupplierINN] [nvarchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryListsContent]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryListsContent](
	[DeliveryContentID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryListID] [int] NOT NULL,
	[PurchaseContentID] [int] NOT NULL,
	[DeliveryContentDate] [date] NOT NULL,
	[ContractNumber] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total]  AS ([Quantity]*[Price]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[DeliveryContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[RangeStart] [char](4) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RangeStart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DeliveryListID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicesContent]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicesContent](
	[InvoiceContentID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[DeliveryContentID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementTypes]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementTypes](
	[MovementTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nomenclature]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomenclature](
	[NomenclatureNumber] [char](9) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Dimensions] [nvarchar](max) NULL,
	[CuttingMaterial] [nvarchar](100) NULL,
	[RegulatoryDoc] [nvarchar](100) NULL,
	[Producer] [nvarchar](100) NULL,
	[UsageFlag] [tinyint] NOT NULL,
	[MinStock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NomenclatureNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NomenclatureLogs]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NomenclatureLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureNumber] [char](9) NOT NULL,
	[FieldName] [nvarchar](255) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ChangedDate] [datetime] NULL,
	[Executor] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRequests]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequests](
	[PurchaseRequestID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseRequestDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRequestsContent]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequestsContent](
	[PurchaseContentID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseRequestID] [int] NOT NULL,
	[ReceivingContentID] [int] NOT NULL,
	[IsPurchase] [bit] NOT NULL,
	[DonorWorkshopID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceivingRequests]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceivingRequests](
	[ReceivingRequestID] [int] IDENTITY(1,1) NOT NULL,
	[ReceivingRequestDate] [date] NOT NULL,
	[WorkshopID] [int] NOT NULL,
	[PlannedDate] [date] NULL,
	[ReceivingRequestType] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceivingRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceivingRequestsContent]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceivingRequestsContent](
	[ReceivingContentID] [int] IDENTITY(1,1) NOT NULL,
	[ReceivingRequestID] [int] NOT NULL,
	[NomenclatureNumber] [char](9) NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceivingContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplacementFixation]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacementFixation](
	[ReplacementID] [int] IDENTITY(1,1) NOT NULL,
	[ReceivingContentID] [int] NOT NULL,
	[AnalogNomenclatureNumber] [char](9) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplacementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storages]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storages](
	[StorageID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[WorkshopID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[INN] [nvarchar](12) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[LegalAddress] [nvarchar](max) NOT NULL,
	[Contacts] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolMovements]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[MovementDate] [date] NOT NULL,
	[ToStorageID] [int] NOT NULL,
	[FromStorageID] [int] NULL,
	[MovementTypeID] [int] NOT NULL,
	[NomenclatureNumber] [char](9) NOT NULL,
	[SourceDocumentType] [nvarchar](50) NULL,
	[SourceDocumentID] [int] NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total]  AS ([Quantity]*[Price]) PERSISTED,
	[InvoiceType] [nvarchar](50) NULL,
	[IsPosted] [bit] NOT NULL,
	[Executor] [nvarchar](255) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops]    Script Date: 04.06.2025 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops](
	[WorkshopID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkshopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnalogTools] ON 

INSERT [dbo].[AnalogTools] ([ID], [OriginalNomenclatureNumber], [AnalogNomenclatureNumber]) VALUES (1, N'000100001', N'000100002')
INSERT [dbo].[AnalogTools] ([ID], [OriginalNomenclatureNumber], [AnalogNomenclatureNumber]) VALUES (2, N'000100002', N'000100001')
INSERT [dbo].[AnalogTools] ([ID], [OriginalNomenclatureNumber], [AnalogNomenclatureNumber]) VALUES (3, N'000100002', N'000100003')
SET IDENTITY_INSERT [dbo].[AnalogTools] OFF
GO
INSERT [dbo].[Groups] ([RangeStart], [Name]) VALUES (N'0001', N'Фреза')
INSERT [dbo].[Groups] ([RangeStart], [Name]) VALUES (N'0002', N'Сверло')
INSERT [dbo].[Groups] ([RangeStart], [Name]) VALUES (N'0003', N'Резец')
GO
INSERT [dbo].[Nomenclature] ([NomenclatureNumber], [Designation], [Unit], [Dimensions], [CuttingMaterial], [RegulatoryDoc], [Producer], [UsageFlag], [MinStock]) VALUES (N'000100001', N'R216.34-16050-AK32H 1620', N'Шт', NULL, NULL, NULL, N'SANDVIK                                          ', 2, 0)
INSERT [dbo].[Nomenclature] ([NomenclatureNumber], [Designation], [Unit], [Dimensions], [CuttingMaterial], [RegulatoryDoc], [Producer], [UsageFlag], [MinStock]) VALUES (N'000100002', N'R216.34-16050-AK33H 1621', N'Шт', NULL, N'BK8', N'ГОСТ 25414-90', N'SANDVIK', 0, 67)
INSERT [dbo].[Nomenclature] ([NomenclatureNumber], [Designation], [Unit], [Dimensions], [CuttingMaterial], [RegulatoryDoc], [Producer], [UsageFlag], [MinStock]) VALUES (N'000100003', N'Червячная модульная m1.5', N'Шт', N'm1.5x30', N'Р6М5', N'ГОСТ 9324-80', N'ISCAR', 2, 91)
GO
SET IDENTITY_INSERT [dbo].[NomenclatureLogs] ON 

INSERT [dbo].[NomenclatureLogs] ([LogID], [NomenclatureNumber], [FieldName], [OldValue], [NewValue], [ChangedDate], [Executor]) VALUES (8, N'008000001', N'Типоразмеры', N'Ф13,835 +0,375', N'Ф13,835 +0,37', CAST(N'2025-06-03T14:37:17.133' AS DateTime), N'dmitr')
INSERT [dbo].[NomenclatureLogs] ([LogID], [NomenclatureNumber], [FieldName], [OldValue], [NewValue], [ChangedDate], [Executor]) VALUES (9, N'008000002', N'Обозначение', NULL, N'1.8133-0689', CAST(N'2025-06-03T14:41:29.603' AS DateTime), N'dmitr')
INSERT [dbo].[NomenclatureLogs] ([LogID], [NomenclatureNumber], [FieldName], [OldValue], [NewValue], [ChangedDate], [Executor]) VALUES (10, N'008000002', N'Единицы измерения', NULL, N'Шт', CAST(N'2025-06-03T14:41:29.603' AS DateTime), N'dmitr')
SET IDENTITY_INSERT [dbo].[NomenclatureLogs] OFF
GO
INSERT [dbo].[Suppliers] ([INN], [Name], [LegalAddress], [Contacts], [Notes]) VALUES (N'000000000000', N'1', N'1', N'1', NULL)
INSERT [dbo].[Suppliers] ([INN], [Name], [LegalAddress], [Contacts], [Notes]) VALUES (N'7701123456', N'ООО "ИнструментСнаб"', N'г. Москва, ул. Промышленная, 15', N'+7(495)123-45-67 info@tools.ru', N'Официальный дилер SANDVIK, ISCAR')
INSERT [dbo].[Suppliers] ([INN], [Name], [LegalAddress], [Contacts], [Notes]) VALUES (N'7711987654', N'ЗАО "ТехноМеталл"', N'г. Санкт-Петербург, пр. Энергетиков, 22', N'+7(812)555-01-02 sales@tmetall.com', N'Поставки металлорежущего инструмента')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Movement__A25C5AA7A77D8677]    Script Date: 04.06.2025 20:35:44 ******/
ALTER TABLE [dbo].[MovementTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nomenclature] ADD  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[ToolMovements] ADD  DEFAULT ((0)) FOR [IsPosted]
GO
ALTER TABLE [dbo].[AnalogTools]  WITH CHECK ADD FOREIGN KEY([AnalogNomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[AnalogTools]  WITH CHECK ADD FOREIGN KEY([OriginalNomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[Balances]  WITH CHECK ADD FOREIGN KEY([NomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[Balances]  WITH CHECK ADD FOREIGN KEY([StorageID])
REFERENCES [dbo].[Storages] ([StorageID])
GO
ALTER TABLE [dbo].[DefectiveLists]  WITH CHECK ADD FOREIGN KEY([NomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[DefectiveLists]  WITH CHECK ADD FOREIGN KEY([WorkshopID])
REFERENCES [dbo].[Workshops] ([WorkshopID])
GO
ALTER TABLE [dbo].[DeliveryLists]  WITH CHECK ADD FOREIGN KEY([SupplierINN])
REFERENCES [dbo].[Suppliers] ([INN])
GO
ALTER TABLE [dbo].[DeliveryListsContent]  WITH CHECK ADD FOREIGN KEY([DeliveryListID])
REFERENCES [dbo].[DeliveryLists] ([DeliveryListID])
GO
ALTER TABLE [dbo].[DeliveryListsContent]  WITH CHECK ADD FOREIGN KEY([PurchaseContentID])
REFERENCES [dbo].[PurchaseRequestsContent] ([PurchaseContentID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([DeliveryListID])
REFERENCES [dbo].[DeliveryLists] ([DeliveryListID])
GO
ALTER TABLE [dbo].[InvoicesContent]  WITH CHECK ADD FOREIGN KEY([DeliveryContentID])
REFERENCES [dbo].[DeliveryListsContent] ([DeliveryContentID])
GO
ALTER TABLE [dbo].[InvoicesContent]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[PurchaseRequestsContent]  WITH CHECK ADD FOREIGN KEY([DonorWorkshopID])
REFERENCES [dbo].[Workshops] ([WorkshopID])
GO
ALTER TABLE [dbo].[PurchaseRequestsContent]  WITH CHECK ADD FOREIGN KEY([PurchaseRequestID])
REFERENCES [dbo].[PurchaseRequests] ([PurchaseRequestID])
GO
ALTER TABLE [dbo].[PurchaseRequestsContent]  WITH CHECK ADD FOREIGN KEY([ReceivingContentID])
REFERENCES [dbo].[ReceivingRequestsContent] ([ReceivingContentID])
GO
ALTER TABLE [dbo].[ReceivingRequests]  WITH CHECK ADD FOREIGN KEY([WorkshopID])
REFERENCES [dbo].[Workshops] ([WorkshopID])
GO
ALTER TABLE [dbo].[ReceivingRequestsContent]  WITH CHECK ADD FOREIGN KEY([NomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[ReceivingRequestsContent]  WITH CHECK ADD FOREIGN KEY([ReceivingRequestID])
REFERENCES [dbo].[ReceivingRequests] ([ReceivingRequestID])
GO
ALTER TABLE [dbo].[ReplacementFixation]  WITH CHECK ADD FOREIGN KEY([AnalogNomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[ReplacementFixation]  WITH CHECK ADD  CONSTRAINT [FK__Replaceme__Recei__71D1E811] FOREIGN KEY([ReceivingContentID])
REFERENCES [dbo].[ReceivingRequestsContent] ([ReceivingContentID])
GO
ALTER TABLE [dbo].[ReplacementFixation] CHECK CONSTRAINT [FK__Replaceme__Recei__71D1E811]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD FOREIGN KEY([WorkshopID])
REFERENCES [dbo].[Workshops] ([WorkshopID])
GO
ALTER TABLE [dbo].[ToolMovements]  WITH CHECK ADD FOREIGN KEY([FromStorageID])
REFERENCES [dbo].[Storages] ([StorageID])
GO
ALTER TABLE [dbo].[ToolMovements]  WITH CHECK ADD FOREIGN KEY([MovementTypeID])
REFERENCES [dbo].[MovementTypes] ([MovementTypeID])
GO
ALTER TABLE [dbo].[ToolMovements]  WITH CHECK ADD FOREIGN KEY([NomenclatureNumber])
REFERENCES [dbo].[Nomenclature] ([NomenclatureNumber])
GO
ALTER TABLE [dbo].[ToolMovements]  WITH CHECK ADD FOREIGN KEY([ToStorageID])
REFERENCES [dbo].[Storages] ([StorageID])
GO
ALTER TABLE [dbo].[AnalogTools]  WITH CHECK ADD CHECK  (([OriginalNomenclatureNumber]<>[AnalogNomenclatureNumber]))
GO
ALTER TABLE [dbo].[DefectiveLists]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[DeliveryListsContent]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoicesContent]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Nomenclature]  WITH CHECK ADD  CONSTRAINT [CHK_MinStock] CHECK  (([MinStock]>=(0)))
GO
ALTER TABLE [dbo].[Nomenclature] CHECK CONSTRAINT [CHK_MinStock]
GO
ALTER TABLE [dbo].[Nomenclature]  WITH CHECK ADD CHECK  (([UsageFlag]=(2) OR [UsageFlag]=(1) OR [UsageFlag]=(0)))
GO
ALTER TABLE [dbo].[PurchaseRequests]  WITH CHECK ADD CHECK  (([Status]='Исполнена полностью' OR [Status]='Исполнена частично' OR [Status]='В работе' OR [Status]='Не обработана'))
GO
ALTER TABLE [dbo].[ReceivingRequests]  WITH CHECK ADD CHECK  (([ReceivingRequestType]='Внеплановая' OR [ReceivingRequestType]='Плановая'))
GO
ALTER TABLE [dbo].[ReceivingRequests]  WITH CHECK ADD CHECK  (([Status]='Исполнена полностью' OR [Status]='Исполнена частично' OR [Status]='В работе' OR [Status]='Не обработана'))
GO
ALTER TABLE [dbo].[ReceivingRequestsContent]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ReplacementFixation]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ToolMovements]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
USE [master]
GO
